@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: left;
    align-items: left;
    min-height: 100vh;
    background: #132235;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card {
    position: relative;
    right: 80px;
    bottom: -100px;
    width: 600px;
    height: 350px;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(45deg, #6ddad3, #fff);
    border-radius: 35px;

}

.container .card img {
    position: relative;
    bottom: 0;
    height: 350px;
    left: 50px;
    transform: translateX(-10%);
    transition: 1s;
}

.container .card:hover img {
    left: 20%;
    top: 50%;
    height: 200px;
}


.container .card .content { 
    position: relative;
    width: 300%;
    left: 0%;
    bottom: -30%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
}

.container .card .content h2 {
    color: #333;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;
} 

.container .card .content p{
    color: #333;
}


.container .card .content a{
    color: #333;
    position: relative;
    color: #fff;
    background: #132235;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 90%;
    margin-top: 10px;
    font-weight: 700;
}

header
 {
    display: flex;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    align-items: center;
}

header .logo {
    position: relative;
}

header ul {

    position: relative;
    display: flex; 
}

header ul li {
    list-style: none;
    font-size: 22px;
}

header ul li a{

    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.nav-menu a {
    transition: all 0.3s ease 0s;
}

.nav-menu a:hover {
    color: teal;
}


.slogan {
    color: white;
    position: relative;
    top: 220px;
    left: 5%;
    text-transform: uppercase;
}

.slogan span {
    color: #6ddad3;
    font-weight: 900;
}

.slogan h2 {
    text-transform: none;
}